html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	display: block;
	text-align: center;
	margin-bottom: 200px;
}

.container {
	display: inline-block;
	margin: 0 auto;

	max-width: 1012px;
}

.admin {
	color: #BC0404 !important;
}

.author {
	display: block;
	overflow: hidden;
	height: 60px;
	padding: 4px 10px;

	text-align: left;

	margin-bottom: 10px;
}

.author img {
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	float: left;

	border: thin solid #616161;
}

.author span {
	display: inline;
	line-height: 60px;

	margin-left: 10px;

	color: black;
	font-size: 24px;
}

.code {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding: 8px 12px;

	min-width: 420px;

	border-bottom: thin solid rgb(235,235,235);
}

.code code {
	display: block;

	font-size: 16px;
	font-family: monospace;
	color: white;
	background-color: rgb(39, 40, 34);
	border-radius: 4px;

	padding: 0 14px;
	text-align: left;
	margin-bottom: 20px;

	/* Limita le dimensioni del file visualizzato */
	max-height: 860px;

	overflow: scroll;
}

.code code::-webkit-scrollbar {
	width: 14px;
}

/* Track */
.code code::-webkit-scrollbar-track {
    background-color: rgb(55,56,51); 
}

/* Handle */
.code code::-webkit-scrollbar-thumb {
    background-color: rgb(84,85,81); 
    border-radius: 4px;
}

/* Handle on hover */
.code code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(88,89,85); 
}

.rating_container {
	display: block;
	text-align: left;
	cursor: default;
}

.icon {
	display: inline-block;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.like {
	background-image: url('./../images/like.png');
}

.like:hover {
	background-image: url('./../images/like_hover.png');
}


.dislike {
	background-image: url('./../images/dislike.png');
}

.dislike:hover {
	background-image: url('./../images/dislike_hover.png');
}

.like.selected {
	background-image: url('./../images/like_hover.png');
}

.dislike.selected {
	background-image: url('./../images/dislike_hover.png');
}

.comment {
	display: block;
	overflow: hidden;
	text-align: left;
	cursor: default;
}

.profile_pic {
	display: inline-block;
	float: left;
}

.profile_pic img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: thin solid #616161;
}

.content {
	display: inline-block;
	margin-left: 14px;
}

.content div {
	display: block;
}

.content div:first-child {
	font-size: 20px;
	color: black;
	font-weight: 400;
}

.content div:last-child {
	font-size: 18px;
	color: #222222;
	font-weight: 300;
	cursor: text;
}

.content textarea {
	display: block;
	font-size: 18px;
	padding: 4px;
	border: none;
	border-bottom: 1px solid #E7E7E7;
	margin-left: 10px;
	resize: none;

	font-weight: 300;
	color: #333333;
	font-family: sans-serif;
	text-align: left;
}

.content textarea:focus {
	outline: 0;
}

.content button {
	display: inline-block;
	width: 60px;
	height: 30px;
	border: 1px solid #0081D7;
	background-color: #33A6FF;
	border-radius: 8px;
	margin-top: 10px;
	cursor: pointer;

	font-weight: 400;
	color: white;
}

.content button:focus {
	outline: 0;
}

.hidden {
	display: none !important;
}

#change_container {
	display: inline-block;
	float: right;
	cursor: pointer;
}

#change_container input[type=submit] {
	display: inline;
	border: none;
	color: #0A0E21;
	font-size: 16px;
	background-color: white;
	cursor: pointer;
}

#change_container input[type=submit]:focus {
	outline: 0;
}