html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	font-variant: normal;
	font-weight: normal;
}

body div {
	text-align: center;
}

.hidden {
	display: none;
}

.heading {
	display: inline-block;
	margin: 0 auto;
	padding-top: 20px;
}

.profile_pic {
	display: block;
}

.profile_pic img {
	width: 140px;
	height: 140px;
	border-radius: 70px;
	border: thin solid #616161;
}

.username {
	display: block;
}

.heading input[type=submit] {
	height: 30px;
	border-radius: 4px;
	box-shadow: none;
	border: thin solid #616161;
	background-color: #6DC4FF;
	font-size: 20px;
	font-weight: lighter;
	color: #262626;
	cursor: pointer;
}

.heading input:disabled {
	background-color: gray;
	color: white;
	cursor: default;
}

.statistics ul {
	list-style-type: none;
	color: #818181;
}

.statistics span {
	color: black;
}

.statistics {
	text-align: left;
	display: block;
	font-size: 24px;
}

.dashboard {
	display: block;
	margin: 0 auto;
	padding: 4px 0;

	background-color: gray;
	background-image: url('./../images/dashboard_bg.png');
	background-repeat: repeat;
	background-position: top left;
	box-shadow: inset 0px 4px 4px 1px rgba(20,20,20,0.3);
}

.dashboard h2 {
	color: #412A2A;
}

.dashboard ul {
	list-style-type: none;
}

.dashboard a {
	color: #1E8DFF;
	text-decoration: underline;
	font-size: 22px;
	cursor: pointer;
}

.dash_links{
	margin-left: 0;
	padding: 0 !important;
}

.dash_links li{
	display: inline-block;
	margin: 0px 50px;
} 

.dash_links a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
}


.delete{
	background-image: url("./../images/delete_icon.png");
}

.delete:hover{
	background-image: url("./../images/delete_icon_hover.png");
}

.change{
	background-image: url("./../images/change_icon.png");
}

.change:hover{
	background-image: url("./../images/change_icon_hover.png");
}

.request{
	background-image: url("./../images/new_request_icon.png");
}

.request:hover{
	background-image: url("./../images/new_request_icon_hover.png");
}
