html, body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;

	background-color: rgb(235,235,235);
}

h1 {
	font-weight: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

section {
	display: block;
	text-align: center;
	background-color: rgb(235,235,235);
}

label {
	display: inline-block;
}

ul {
	list-style-type: none;
	display: inline-block;
	text-align: right;

	position: relative;
	top: 0;
	left: -16%;
}

li {
	margin-bottom: 8px;
}

li label {
	font-size: 18px;
}

li input {
	border-radius: 4px;
	font-size: 20px;
	padding: 4px;
	border: 1px solid gray;
	margin-left: 4px;
}

li input:focus {
	outline: 0;
}

.heading {
	display: inline-block;
	margin: 0 auto;
	max-width: 1012px;
}

.results {
	display: inline-block;
	margin: 0 auto;
	max-width: 1012px;
	min-width: 460px;
	background-color: white;
}

.request_container {
	padding: 10px 20px;
	border-bottom: 1px solid rgb(237,237,242);
}

.title {
	display: block;
	font-size: 24px;
	cursor: pointer;
	font-weight: bolder;
}

.title:hover {
	color: rgb(6,129,255);
}

.author::before {
	display: block;
	height: 20px;
}

.author {
	display: inline-block;
	font-size: 16px;
	float: left;
}

.time {
	display: inline-block;
	font-size: 16px;
}

.language {
	padding: 2px 8px;
	display: inline-block;
	font-size: 16px;
	float: right;
	background-color: rgb(235,235,235);
	color: black;
	border-radius: 2px;
}